/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --ccsa-dark-blue: #111827;
  --ccsa-orange: #ED761E;
  --ccsa-yellow: #FFD100;
  --ccsa-blue: #0088D2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
